
.transparent {
    background-color: rgba(2,2,2,0.3) !important;


  }
  .sidenav {
    background-color: rgba(3,3,3,1) !important;
  }
  a {
    color: white !important;
    font-size: 1.2em !important;
    margin-right: 20px;
  }
  a:hover {
    color: rgb(123, 128, 255) !important;
    font-size: 1.2em !important;
  }
  .section {
      height: 100vh;
      background-color: rgba(0,0,0,0.4);
      color: white;
  }
  .brand-logo {

    width: 80px;
  }
  .index-text {
      font-size: 5vh;
      padding-top: 100px;
      font-family: 'Amatic SC', cursive;
  }

  @media screen and (max-width: 750px) {
    .section {

        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        color: white;
    }
  }
  @media screen and (max-width: 440px) {
    .section {

        height: 120vh;
        background-color: rgba(0,0,0,0.4);
        color: white;
    }
  }
  @media screen and (max-width: 375px) {
    .section {

        height: 110vh;
        background-color: rgba(0,0,0,0.4);
        color: white;
    }
  }
  @media screen and (max-width: 360px) {
    .section {

        height: 160vh;
        background-color: rgba(0,0,0,0.4);
        color: white;
    }
  }