body {
    background-image: url("../images/chevron.png");
    background-repeat: repeat;
}
.home-page {
    /* background-image: url('../images/logobackground.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 91vh;
    border-left: rgb(255, 251, 212) 2px solid;
    border-right: rgb(255, 251, 212) 2px solid;
    border-top: rgb(255, 251, 212) 2px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.about-page {
    /* background-image: url('../images/circuitboard.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border: rgb(255, 251, 212) 2px solid;
    overflow: auto;
}

.portfolio-page {
    /* background-image: url('../images/portfolio.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border: rgb(255, 251, 212) 2px solid;
    overflow: auto;
}
.contact-page {
    /* background-image: url('../images/connect.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border: rgb(255, 251, 212) 2px solid;
}
.icons {
background-image: url('../images/chevron.png');
}
.icon {
display: inline-block;
text-align: center;
padding-left: 5%;
padding: 10px;
}
.icon:hover {
display: inline-block;
padding: 10px;
}

div > li > a {
    color: rgb(39, 110, 251);
    font-size: 15px;
}
div > li > a:hover {
    text-decoration: none;
    color: rgb(153, 209, 255);
}
div > li > a > img {
    width: 40px;
}
div > li > a > img:hover {
    width: 38px;
}
div > ul > li > a {
    margin-right: 10px;
    padding: auto;
}
div > ul > li > a:hover {
    color: rgb(0, 132, 255);
    text-decoration: none;
}
.text {
    color: rgb(255, 179, 0);
}
.navcolor {
    background-color: rgba(0, 0, 0, 0.2) !important;
    position: sticky;
}
.index-text {
    font-size: 5vh;
    padding-top: 20%;
    font-family: 'Amatic SC';
    height: 89.3vh;
}
.section {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
.container {
    padding: 0 !important;
}
#about-section {    
padding: 6% 10% 10%;
font-size: 1.5em; 
height: 100vh;
}
#portfolio-section {
    padding: 6% 0 0 0;
}
#contactMe {
    padding: 6% 0 0 0;
}
.card-content, .card-action {
    background-color: black !important;
    color: white !important;
}
.gform {
    margin: 15% 5%;
    padding: 10%;
    background-color: rgba(0,0,0,0.3);
}
@media screen and (max-width: 600px) {
    .about-page {
        border: none;
    }
    .portfolio-page{
        border: none;
    }
    .contact-page {
        border: none;
    }
    #about-section {
        padding-top: 8%;
    }
    #portfolio-section {
        padding-top: 8%;
    }
    #contactMe {
        padding-top: 8%;
    }
    .container {
        width: 100% !important;
    }
    #about-section {
        height: 100%
    } 
    .gform {
        padding: 2%;
        margin: 30% 0 0 0;
        width: 100%;
    }
    .icons {
        display: flex;
        justify-content: center;
    }
    .index-text {
        padding-top: 50%;
    }
}
#mobile-demo > li > a:hover {
    font-size: 26px;
    background-color: black;
    color: white;
}
#mobile-demo > li > a {
    font-size: 25px;

    color: black;
    width: 100%;

}

